:80 {
  handle_path /health-check {
    reverse_proxy spring-blue:8080
  }

  handle {
    reverse_proxy spring-blue:8080
  }
}

${{ secrets.DEV_HOST }}.nip.io {
    handle_path /health-check {
        reverse_proxy spring-blue:8080
      }

      handle {
        reverse_proxy spring-blue:8080
      }
}